/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables */

:root {
  --text-color-primary: #7d7987;
  --text-color-secondary: #000;
  --text-color-highlight: #89c5cc;
  --gray: #f9f9f9;
}

/* general */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul li {
  list-style: none;
  display: flex;
  gap: 48px;
}

/* main */

section h1,
section ul {
  font-family: "Mulish", sans-serif;
}

section h1 {
}

section h1 span {
}

button {
  font-family: "DM Sans", sans-serif;
}

/* footer */
